<!DOCTYPE html>
<html lang="en">
<body>
    <ul class="nav justify-content-center alert alert-primary">
        <li class="nav-item">
            
          <a class="nav-link active" aria-current="page" href="Views/TableauDeBord/"><i class="fas fa-home"></i> Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Views/Medicaments/"><i class="fa-solid fa-flask"></i> Medicament</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Views/Categories/"><i class="fa-solid fa-suitcase-medical"></i> Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Views/Ventes/"><i class="fa-solid fa-cart-shopping"></i> Vente</a>
        </li>
      </ul>
</body>
</html>




